<div class="flex justify-center w-full my-4">
    <div class="flex items-center p-2 leading-none text-red-100 bg-red-700 rounded-full" role="alert">
        <span class="flex px-2 py-1 mr-3 text-xs font-bold uppercase bg-red-400 rounded-full">
            Error
        </span>
        <span class="flex-auto mr-2 font-semibold">
            {{ errorAlert }}
        </span>
    </div>
</div>
