<nav class="fixed inset-x-0 top-0 p-4 bg-gray-700">
    <div class="container flex justify-between mx-auto">
        <div class="font-semibold">
            Music Shuffle
        </div>
        {% if isLoggedIn %}
        <div>
            <a class="" href="/">Home</a>
            <a class="" href="/playlists">Playlists</a>
            <a class="" href="/users">Users</a>
        </div>
        <div>
            <a class="" href="/logout">logout</a>
        </div>
        {% endif %}
    </div>
</nav>
