{% extends "layouts/_base.twig" %}
{% block main %}
    <main class="container px-6 py-4 mx-auto bg-gray-800 rounded-sm">
        <div class="flex items-center justify-between mb-4">
            <h2 class="text-xl font-bold">Playlists</h2>
            <a class="text-sm btn-teal" href="/playlists/create">New Playlist</a>
        </div>
        <ul>
        {% for playlist in playlists %}
        <li class="px-6 py-3 mb-1 bg-gray-700 rounded-sm shadow-md group hover:bg-teal-600">
            <a class="block" href="/playlists/{{playlist.id}}">
                <div class="text-lg font-semibold">{{playlist.name}}</div>
            </a>
        </li>
        {% endfor %}
    </ul>
    </main>
{% endblock %}
