{% extends "layouts/_base.twig" %}
{% block main %}
    <main class="container p-4 mx-auto bg-gray-800">
        <div class="flex items-center justify-between">
            <h2 class="text-xl font-bold">Playlists</h2>
            <a class="text-sm btn-teal" href="/playlists/create">New Playlist</a>
        </div>
        {% for playlist in playlists %}
            <a href="/playlists/{{playlist.id}}">
                <div>
                    {{playlist.name}}
                </div>
            </a>
        {% endfor %}
    </main>
{% endblock %}
