{% extends "layouts/_base.twig" %}
{% block main %}
    <main class="relative">
    {% for playlist in playlists %}
        <a href="/playlists/{{playlist.id}}">
            <div>
                {{playlist.name}}
            </div>
        </a>
    {% endfor %}
    </main>
{% endblock %}
