{% extends "layouts/_base.twig" %}
{% block main %}
    {% for playlist in playlists %}
        <a href="/playlists/{{playlist.id}}">
            <div>
                {{playlist.name}}
            </div>
        </a>
    {% endfor %}
{% endblock %}
