{% extends "layouts/_base.twig" %}
{% block main %}
    <main class="relative">
    {% for playlist in playlists %}
        <div>
            {{playlist.name}}
        </div>
    {% endfor %}
    </main>
{% endblock %}
