{% extends "layouts/_base.twig" %}
{% block main %}
    <div class="container top-0 mx-auto my-4 bg-gray-800">
        <div class="w-full" id="app">
            <noscript>Pleas activate javascript</noscript>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="/js/app.js"></script>
{% endblock %}
