{% extends "layouts/base.twig" %}
{% block main %}
    <div class="container flex items-center h-screen mx-auto bg-gray-800">
        <div id="app">
            <noscript>Pleas activate javascript</noscript>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="/js/app.js"></script>
{% endblock %}
