{% extends "layouts/_base.twig" %}
{% block main %}
    <main class="container px-6 py-4 mx-auto bg-gray-800 rounded-sm">
    <h2 class="mb-4 text-2xl font-bold">User List</h2>
    <ul class="">
    {% for user in users %}
        <li class="mb-1 bg-gray-700 rounded-sm shadow-md group hover:bg-teal-600">
            <a class="block px-6 py-3 md:items-center md:flex" href="/users/{{user.id}}">
                <img class="flex-shrink-0 w-10 h-10 mb-4 mr-4 border-2 border-gray-800 rounded-full shadow-inner md:mb-0" src="{{user.email|gravatar}}" alt="">
                <div class="w-1/4 mb-2 text-lg font-semibold md:mb-0">{{user.username}}</div>
                <div class="w-1/4 mb-2 md:mb-0">{{user.email}}</div>
            </a>
        </li>
    {% endfor %}
    </ul>
    </main>
{% endblock %}
