{% extends "layouts/_base.twig" %}
{% block main %}
    <main class="max-w-md mx-auto mt-16">
    <ul>
    {% for user in users %}
        <li class="">
            <a class="flex items-center p-4 mx-4 my-2 bg-gray-700 rounded-sm" href="/users/{{user.id}}">
            <img class="w-16 h-16 mr-4 bg-black border-2 border-gray-600 rounded-full shadow-inner" src="{{user.email|gravatar}}" alt="">
            <div>
                <div class="text-xl">{{user.username}}</div>
                <div class="text-sm">{{user.email}}</div>
            </div>
            </a>
        </li>
    {% endfor %}
    </ul>
    </main>
{% endblock %}
