{% extends "layouts/_base.twig" %}
{% block main %}
    <main class="flex max-w-md p-4 mx-auto bg-gray-800 shadow">
        <div>
            <div>
                <img class="rounded-full" src="{{user.email|gravatar}}" alt="">
            </div>
            <div class="text-lg">
                <span class="text-gray-500">#</span>
                <span>{{user.id}}</span>
            </div>
            <div>
                <div class="text-gray-500">username</div>
                <div class="text-3xl">{{user.username}}</div>
            </div>
            <div>
                <div class="text-gray-500">email</div>
                <div class="text-lg">{{user.email}}</div>
            </div>
            {% if true %}
            <div>
                <button
                class="px-4 py-1 text-white bg-teal-700 rounded-sm"
                >Edit User</button>
            </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
