
{% extends "layouts/base.twig" %}
{% block main %}
    <div>
        <p>
            {{user.username}}
        </p>
        <p>
            {{user.email}}
        </p>
        <p>
            {{user.id}}
        </p>
    </div>
{% endblock %}
