{% extends "layouts/_base.twig" %}
{% block main %}
    <main class="container mx-auto">
        <h1 class="text-5xl">Home</h1>
        <div class="p-2 mb-4 bg-gray-800 rounded-sm">
            <h2 class="text-xl">My Playlists</h2>
            {% include "partials/_playlists_list.twig" %}
        </div>
    </main>
{% endblock %}
