{% extends "layouts/_base.twig" %}
{% block main %}
<main>
    <h1>Wellcome to music shuffle</h1>
    <p>to login in go to the <a href="/login">Login</a> page <br>
    if you want to register go to the <a href="/register">Register</a> page</p>
</main>
{% endblock %}
