{% extends "layouts/_base.twig" %}
{% block main %}
    <main>
        <h1>Home</h1>
        <div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
        </div>
    </main>
{% endblock %}
